.navbar-main {
  background-color: #0b2545;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  top: 0;
  text-align: center;
  justify-content: right;
}
.navbar-main ul {
  display: flex;
  margin-right: 10%;
  position: absolute;
  top: 5%;
}
.navbar-main ul li {
  list-style-type: none;
  margin-right: 40px;
  color: #fff;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serifs;
  font-size: smaller;
}
.navbar-main ul li:hover {
  color: #ffba08;
}
